<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
</head>
<body>
<form action="{% url 'transaction_url' %}" method="post">
    {% csrf_token %}
    <input type="text" name="wallet_id">
    <input type="text" name="amount">
    <button>send</button>
</form>
</body>
</html>