{% extends 'base.html' %}

{% block title %} REGISTER PAGE {% endblock title %}

{% block content %}
<form method="post" action="{% url 'register_url'%}">
    {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Phone number</label>
    <input name="phone_number" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Telefon raqamingizni kiriting</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="password1" type="password" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Tasdiqlovchi Password</label>
    <input name="password2" type="password" class="form-control" id="exampleInputPassword2">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}